<div class="header">
    <h5>Ser o no ser</h5><br>
    
    <simple-tab>
        <div top-left>yo</div>
        <div top-right>nosotros</div>

        <div middle-left>tú</div>
        <div middle-right>vosotros</div>

        <div bottom-left>él<br>élla<br>usted</div>
        <div bottom-right>ellos<br>ellas<br>ustedes</div>
    </simple-tab>

    <simple-tab>
        <div top-left>soy</div>
        <div top-right>somos</div>

        <div middle-left>eres</div>
        <div middle-right>sóis</div>

        <div bottom-left>es</div>
        <div bottom-right>son</div>
    </simple-tab>

    <simple-tab>
        <div top-left>estoy</div>
        <div top-right>estamos</div>

        <div middle-left>estás</div>
        <div middle-right>estáis</div>

        <div bottom-left>está</div>
        <div bottom-right>están</div>
    </simple-tab>
    
</div>