
<div class="row lower-row" style="margin-top: 40px;">
    <card class="col-lg-3 card-text">
        <div class="header">
            <p class="title">'AR' Conjugation <br>
                (hablar)</p>
            
                <simple-tab>
                    <div top-left>hablo</div>
                    <div top-right>hablamos</div>
            
                    <div middle-left>hablas</div>
                    <div middle-right>habláis</div>
            
                    <div bottom-left>habla</div>
                    <div bottom-right>hablan</div>
                </simple-tab>
        </div>
    </card>
    <card class="col-lg-3">
        <div class="header">
            <p class="title">'ER' Conjugation <br>
                (comer)</p>
            
                <simple-tab>
                    <div top-left>como</div>
                    <div top-right>comemos</div>
            
                    <div middle-left>comes</div>
                    <div middle-right>coméis</div>
            
                    <div bottom-left>come</div>
                    <div bottom-right>comen</div>
                </simple-tab>
        </div>
    </card>
    <card class="col-lg-3">
        <div class="header">
            <p class="title">'IR' Conjugation <br>
                (vivir)</p>
            
                <simple-tab>
                    <div top-left>vivo</div>
                    <div top-right>vivimos</div>
            
                    <div middle-left>vives</div>
                    <div middle-right>vivís</div>
            
                    <div bottom-left>vive</div>
                    <div bottom-right>viven</div>
                </simple-tab>
        </div>
    </card>
    <div class="col-lg-3 card-text">
        <card>
            <p>Word of the day<br>
                mañana - tomorrow/morning</p>
        </card>
        <card>
            <p>Hoy es jueves <br>
                Today is thursday</p>
        </card>
    </div>
</div>
