td {
    background-color: none;
    background: none;
    border: none;
    color: white;
}

.words-count {
    background-color: none;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    color: white;
}

.start-btn {
    font-weight: bold;
}