<table class="table table-sm">
    <tbody>
        <tr class="form-check" *ngFor="let exercise of availableExercises">
            <td><input class="form-check-input" (change)="changeExercise()" [(ngModel)]="selectedExercise" type="radio" value="{{exercise.value}}" name="exerciseChoice" id="exercise1"></td>
            <td><label class="form-check-label">{{exercise.label}}</label></td>
        </tr>
        <tr class="form-check">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>