<div class="row">
    <card class="col-xl-6 col-md-12 categories">
        <vocabulary-categories [categories]="categories"></vocabulary-categories>
    </card>
    <card class="col-xl-6 col-md-12">
        <vocabulary-exercises [(selectedExercise)]="selectedExercise" class="col-xl-12 exercises"></vocabulary-exercises>
        <vocabulary-settings class="col-xl-12 settings" (startExercise)="startExercise($event)"></vocabulary-settings>
    </card>
    <vocabulary-main *ngIf="startExercise1" [settings]="settings" [(result)]="message"></vocabulary-main>
</div>