
.table {
    background: transparent !important;
    background-color: transparent !important;
    border: none;
}

td {
    background: transparent;
    color: white;
}

.tab {
    width: 30%;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
}

.tab td {
    min-width: 60px;
    height: 35px;
    vertical-align: middle;
}

.left-cell {
    border-left: none;
}

.right-cell {
    border-right: none;
}

.top-row {
    border-top: none;
}

.bottom-row {
    border-bottom: none;
}
