<div class="row">
    <vocabulary-exercise-options class="col-xl-6" *ngIf="settings.exerciseType == '1' || settings.exerciseType == '3'"
        [translatedWord]="translatedWord"
        [options]="options"
        [message]="stats.message"
        (onGuess)="guessOptionExercise($event)"></vocabulary-exercise-options>
    <vocabulary-exercise-typing class="col-xl-6" *ngIf="settings.exerciseType == '2' || settings.exerciseType == '4'" 
        [translatedWord]="translatedWord"
        [message]="stats.message" 
        (guess)="guessTypingExercise($event)"></vocabulary-exercise-typing>

    <card class="col-xl-6">
        <div>
            <span class="word-to-translate">Score: </span>
            <table class="table table-sm options">
                <tbody>
                    <tr class="form-check">
                        <td>Total words: </td>
                        <td>{{stats.totalWords}}</td>
                    </tr>
                    <tr class="form-check">
                        <td>Total guesses: </td>
                        <td>{{stats.guessedWords}}</td>
                    </tr>
                    <tr class="form-check">
                        <td>Correct guesses: </td>
                        <td>{{stats.correctGuesses}}</td>
                    </tr>
                    <tr class="form-check">
                        <td>Wrong guesses: </td>
                        <td>{{stats.wrongGuesses}}</td>
                    </tr>
                    <tr class="form-check">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </card>
</div>