<div class="row">
    <card class="col-xl-6">
        <div class="left">
            <span class="word-to-translate">{{translatedWord}}</span>
            <table class="table table-sm options">
                <tbody>
                    <tr class="form-check" *ngFor="let option of options">
                        <td><input class="form-check-input" type="radio" value="{{option.option}}" [(ngModel)]="selectedOption" name="exerciseChoice" id="exercise1"></td>
                        <td><label id="{{option}}" class="form-check-label" 
                            [ngClass]="{'correct': option.correct, 'wrong': option.wrong}">{{option.option | titlecase}}</label></td>
                    </tr>
                </tbody>
            </table>
            <div class="result">
                &nbsp;{{stats.message}}
            </div>
                <button class="btn btn-primary btn-sm save-button" (click)="guesss()" style="float:right; margin-right: 15px;">Confirm</button>
            
        </div>
                
        </card>
        <card class="col-xl-6">
        <div>
            <span class="word-to-translate">Score: </span>
            <table class="table table-sm options">
                <tbody>
                    <tr class="form-check">
                        <td>Total words: </td>
                        <td>{{stats.totalWords}}</td>
                    </tr>
                    <tr class="form-check">
                        <td>Total guesses: </td>
                        <td>{{stats.guessedWords}}</td>
                    </tr>
                    <tr class="form-check">
                        <td>Correct guesses: </td>
                        <td>{{stats.correctGuesses}}</td>
                    </tr>
                    <tr class="form-check">
                        <td>Wrong guesses: </td>
                        <td>{{stats.wrongGuesses}}</td>
                    </tr>
                    <tr class="form-check">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </card>
</div>
